.container {
  margin-top: 3rem;
}

.nav-tabs .nav-link.active {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.nav-tabs .nav-link {
  color: #6f42c1;
}

.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-secondary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-success {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-danger {
  background-color: #6f42c1;
  border-color: #6f42c1;
}
