.modal-header {
  background-color: #5427E2;
  color: white;
}

.modal-footer .btn-secondary {
  background-color: #5427E2;
  border-color: #5427E2;
}

.modal-footer .btn-primary {
  background-color: #5427E2;
  border-color: #5427E2;
}

.form-group label {
  color: #000;
}
